*, ::after, ::before{
    box-sizing: border-box;
}

body {
    background-color: #eee;
    color: #3c4858;
    font-weight: 300;
    margin: 0;
    text-align: left;
    font-size: 1rem;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

a{
    text-decoration: none;
}

.sidebar{
    width: 250px;
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    bottom:0;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);

}

.sidebar .logo{
    padding: 15px 0;
    margin: 0;
    z-index: 4;
    display: box;
    position: relative;
}

.sidebar .logo .tulisan-logo{
    text-transform: uppercase;
    text-align: center;
    color: #3c4858;
    font-weight: 400;
    white-space: nowrap;
    line-height: 30px;
    overflow: hidden;
    display: block;
    padding: 5px 0;
    font-size: 18px ;

}

.sidebar .logo .gambar-logo{
    width: 35px;
    display: block;
    max-height: 30px;
    margin-left: 9px;
    margin-right: 15px ;
}

.sidebar .logo img{
    width:35px;
    top:16px;
    position: absolute;
}

.sidebar .logo::after{
    content: "";
    position:absolute;
    bottom:0;
    right:15px;
    height: 1px;
    left:15px;
    background-color: rgba(180,180,180,.3);
}

.nav-wrapper{
    position: relative;
    width: 250px;
    height: calc(100%-70px);
    z-index: 3;
    padding-bottom: 30px;
}

.sidebar .navbar{
    display: block;
    margin-top:30px;
}

.navbar{
    padding-left:0;
    margin-bottom:0;
    list-style: none;

}

.sidebar .navbar li a{
    margin:10px 15px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
}

.sidebar .navbar li a:hover{
    background-color: rgba(0,0,255,.2);
    color: #3c4858;
    box-shadow: none;
}

.nav-link{
    display: block;
}


.sidebar .navbar i{
    font-size: 30px;
    float: left;
    margin-left: 15px;
    margin-right: 17px;
    line-height: 40px;
    width: 30px;
    text-align: center;
    color: gray;
}

.sidebar .navbar p{
    margin: 0;
    line-height: 40px;
    font-size: 16px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    text-transform: capitalize;
    color:black;
}

.sidebar .navbar li.active a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(244,67,54,.2);
}

.sidebar .navbar li.active p {
    color:white;
}

.sidebar .navbar li.active i {
    color:white;
}

.main-panel{
    float: right;
    width: calc(100% - 250px);
    position: relative;
}

.main-panel .nav-inline{
    margin-bottom: 0;
}

.nav-inline .navbar-transparent{
    padding-top: 10px;
}

.nav-inline .navbar-transparent{
    background: transparent;
    box-shadow: none;
}

.nav-inline .nav-absolute{
position: absolute;
width: 100%;
z-index: 1029;
}

.fixed-top{
    top: 0;
    left: 0;
    right: 0;
}

.nav-inline .fixed-top {
    border-radius: 0;
}

.nav-inline .nav-expand-lg{
    flex-flow: nowrap;
    justify-content: flex-start;
}

.nav-inline{
    display: flex;
    align-items: center;
}

.nav-inline{
    border: 0;
    padding: 0.625rem 0;
    color: #555;
}

.nav-inline > .container-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.container-nav {
    padding: 0 15px;
    margin: 0 15px;
    width: 100%;
}

.navbar-wrapper {
    display: inline-flex;
    align-items: center;
}

.inline-navbar .navbar-brand {
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: .625rem 0;
    font-weight: 300;
    margin-left: 1rem;
}

.navbar-brand{
padding-top: .3125rem;
padding-bottom: .3125rem;
margin-right: 1rem;
font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;
color: #555;
font-weight: 50;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.navbar-form {
    margin-bottom: 0;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .form-control
{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    background: center bottom no-repeat,center calc(100% - 1px);
        background-image: none, none;
        background-size: auto, auto;
    background-size: 0 100%,100% 100%;
    border: 0;
    height: 36px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    font-size: 14px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .4375rem 0;
        padding-right: 0px;
        padding-left: 0px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    overflow: visible;
}

.search-btn{
    border-radius: 50%
}

.inline-navbar form .search-btn {
    margin-bottom: 0;
 }

 form .search-btn {
    margin-top: 0;
 }

 .search-btn  {
 font-size: 24px;
 height: 41px;
 min-width: 41px;
 width: 41px;
 padding: 0;
 overflow: hidden;
 position: relative;
 line-height: 41px;
}

.search-btn {
    background-color: white;
}

.search-btn{
    border-color: #999;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(153,153,153,.12);
}

.nav-inline .navbar-nav{
    align-items: center;
}
.nav-expand-lg .navbar-nav{
    flex-direction: row;
}

.navbar-nav{
    display: flex;
    list-style: none;
    padding-left: 10px;
}

.nav-inline .nav-link{
    position: relative;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 20px;
    margin-left: 5px;
    color: inherit;
}

 .navbar-nav li i {
     color: #555;
     font-size: 1.35rem;
 } 


